/* Javascript Styles Only */
.js_reveal, .hide {
  display: none;
}
.js_remove, .show {
  display: block;
}
/* Content Sliding */
.arrow {
  width: 0;
  height: 0;
  border: double 10px transparent;
  border-left-color: #000000;
  position: absolute;
  right: 0;
  top: 8px;
}
#close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  padding: 5px;
  background: #eeeeee;
  border-radius: 5px;
  -mox-border-radius: 5px;
  border: 3px outset #dddddd;
}
#close:hover {
  border-color: #cccccc;
}
#close:active {
  border: 3px inset #cccccc;
}

